body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* changing the navbar layout */
.nav > li,
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a {
    text-decoration: none;
    background-color: none;
}

    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav > li > ul > li > a :hover {
        background-color: #8ab2cc;
    }

    .nav > li:hover,
    .nav > li > ul > li :hover {
        border-bottom: 3px solid #337ab7;
    }

    /*copied */
    .navbar-header > a,
    .nav > li > a,
    .nav > li > ul > li > a {
        font-family: 'oswald';
        font-weight: 300;
        font-size: 12px;
        color: #041f31;
        text-transform: uppercase;
        border-bottom: 3px solid #fff;
        transition: all 3.25s;
    }

.nav .open > a {
    background-color: #eba156;
}

.navbar-header > a,
.nav > li > a {
    border-bottom: 0px;
}

.navbar, .navbar > .container, .navbar > .container > .navbar-header {
    background-image: url(../images/haei-bkg.jpg);
    background-repeat: repeat-x;
}


.navbar-toggle {
    background-color: #e7944e !important;
}
